# Note that only NODE_ENV, BASE_URL, and variables that start with VUE_APP_
# will be statically embedded into the client bundle with webpack.DefinePlugin.
# It is to avoid accidentally exposing a private key on the machine that could have the same name.

# DEBUG=true

# NODE_ENV=development creates a webpack configuration which enables HMR,
# doesn't hash assets or create vendor bundles in order to allow for
# fast re-builds when running a dev server.
#
# NODE_ENV=production creates an app ready for deployment,
# regardless of the environment you're deploying to.
NODE_ENV=production

# Vue CLI override BASE_URL variable for client bundle, thus we use VUE_APP_PUBLIC_PATH instead
VUE_APP_PUBLIC_PATH=/admin

# The same as APP_ENV. It's needed to understand where the app is running.
# Usually can have values "production", "staging", "development", "local"
VUE_APP_ENV=local

# If this env is empty API will use current browser window location origin.
VUE_APP_API_URL=http://localhost:3500

# Constant value of access token for local (VUE_APP_ENV = local) only development.
# It has higher priority than value from local storage.
VUE_APP_ACCESS_TOKEN=

# URL of website which is managed by this admin panel
VUE_APP_WEBSITE_URL=https://project-name.dev.ozitag.com/api

# Sentry
VUE_APP_SENTRY_DSN=
VUE_APP_SENTRY_ENVIRONMENT=admin

# Sentry CLI Plugin (private)
SENTRY_AUTH_TOKEN=d37fe4fd4f9841abad921c13d44c5b9f404664d3c3b14886a1c05ce9a54b4560
SENTRY_ORG=ozitag-2v
SENTRY_PROJECT=project-name